// HOME PAGE
.home-page {
}

// HEADER
.header {
  background-color: $theme;
  height: 208px;
  padding: 24px 16px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 136px;
  .welcome {
    display: flex;
    align-items: center;
    .head {
      color: $white;
      font-size: 18px;
      font-weight: 500;
    }
    .logo {
      margin-left: 6px;
    }
  }
  .account {
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-size: 14px;
    color: $white;
    opacity: 0.8;
    margin: 10px 0 8px;
  }

  .card-container {
    width: 344px;
    position: absolute;
    left: 50%;
    top: 48%;
    white-space: nowrap;
    transform: translate(-50%);
    padding: 0 16px 26px 0;
    overflow-x: auto;
    .card {
      width: 292px;
      height: 212px;
      display: inline-block;
      border-radius: 10px;
      background: #fff;
      margin-left: 16px;
      box-shadow: 0 10px 20px 0 #0000001a;
      padding: 24px;
      box-sizing: border-box;

      .card-spent {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        color: #888888;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        position: absolute;
        top: 70px;
      }
      .card-amount {
        position: absolute;
        top: 85px;
        font-family: 'Source Sans Pro';
        font-weight: bold;
        color: $black;
        font-size: 22px;
      }
      .card-bill-text {
        background-color: #e33f3726;
        width: fit-content;
        padding: 3px;
        font-family: 'Roboto';
        font-size: 9px;
        letter-spacing: 0.7px;
        font-weight: bold;
        color: #e33f37;
        position: absolute;
        top: 25px;
        left: 220px;
      }
      .card-dd-text {
        font-family: 'Source Sans Pro';
        font-weight: 600;
        font-size: 14px;
        color: #888888;
        letter-spacing: 0.2px;
        position: absolute;
        top: 70px;
        left: 232px;
        text-align: right;
        width: 60px;
      }
      .card-dd {
        font-size: 16px;
        position: absolute;
        top: 95px;
        left: 242px;
        font-weight: normal;
      }
      .card-button {
        width: 250px;
        height: 50px;
        position: absolute;
        left: 40px;
        top: 144px;
        background: linear-gradient(90deg, #00d1c1 0%, #00d1dc 100%);
        border: #00d1c1;
        border-radius: 4px;
        &:hover,
        &:focus,
        &:active {
          background: linear-gradient(90deg, #00d1c1 0%, #00d1dc 100%);
          border: none;
          outline: none;
        }
      }

      .card-button-pay {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        color: $white;
        letter-spacing: 0.02em;
      }

      .card-image-2 {
        width: 96px;
        height: 27px;
      }
      .card-icon {
        color: #00a699;
        position: absolute;
        left: 550px;
        top: 115px;
        width: 17px;
        height: 17px;
      }
      .card-link {
        color: #00a699;
        position: absolute;
        left: 570px;
        top: 115px;
        font-size: 16px;
      }
      .card-desc {
        width: 244px;
        height: 60px;
        background-color: #f6f6f6;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin-top: 80px;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.main-div-recharge {
  position: relative;
  height: 202px;
  width: 360px;
  background-color: #ffffff;
  .recharge-text {
    position: absolute;
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    position: absolute;
    left: 16px;
    color: #888888;
    text-align: center;
    line-height: 14px;
  }
  .rectangle-line {
    position: absolute;
    height: 1px;
    left: 0%;
    right: 0%;
    top: 32px;
    background-color: $border;
    border-radius: 0px 0px 3px 3px;
  }
  .recharge-icons {
    position: absolute;
    width: 314px;
    height: 140px;
    top: 24%;
    left: 6%;
    right: 7%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    .recharge-icon-wrapper {
      height: 58px;
      width: 44px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px 10px;
      .recharge-icon {
        height: 40px;
        width: 40px;
      }
      .recharge-txt {
        font-family: Roboto;
        font-size: 12px;
        color: #888888;
      }
    }
  }
}

.main-div-partner {
  position: relative;
  height: 142px;
  width: 360px;
  margin-top: 20px;
  background-color: #ffffff;
  .partner-text {
    position: absolute;
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    position: absolute;
    left: 16px;
    color: #888888;
    text-align: center;
    line-height: 14px;
  }
  .partner-rectangle-line {
    position: absolute;
    height: 1px;
    left: 0%;
    right: 0%;
    top: 32px;
    background-color: $border;
    border-radius: 0px 0px 3px 3px;
  }
  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-41%, -34%);
    width: 100%;
    display: flex;
    overflow-x: auto;
    .logo-card {
      width: 32px;
      height: 75px;
      padding: 30px 20px;
      margin-right: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      .logo-image {
        height: 32px;
        width: 32px;
      }
      .logo-text {
        color: #888888;
        font-family: Roboto;
        font-size: 12px;
      }
    }
  }
}
